body{
    font-family: Roboto,sans-serif;
}

.navbar{
    background-color: #1b1a1a;
}

#cabecalho .nav .nav-link.active,
.btn-primary  {
    background-color: #eb700c;
    color: #fffcfc;
    border: none;
}

#cabecalho .nav .nav-link.active:hover,
.btn-primary:hover {
    background-color: #fffcfc;
    color: #eb700c;
    border: none;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #eb700c;
}

.navbar-toggler {
    background-color: #eb700c;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.text-colored{
    color: #eb700c;
}

.social-links li{
    list-style: none; 
    display: inline; 
}

.social-links a{
    text-decoration: none; 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: #1b1a1a solid 25px;
}

.maps {
    max-width: 100%; /* opcional, para garantir responsividade */
}

#carousel_border {
    border-bottom: #1b1a1a solid 1px;
}

@media (max-width: 767px) {  /*para ajustar o tamanho da imagem do carosel no celular*/
    .carousel-item img{
        height: 100px; /*limitou a altura da imagem em 280px*/
    }
    .carousel-indicators{
        display: none;
    }
}




